.bgcontainer{
    background-color: lightcyan;
    height: 500vh;
    width: auto;
    text-align: center;
}
.heading{
color: darkblue;
font-size: 25px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}
.buttonhead{
    text-align: center;
}
#billamount{
    width: 200px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
}
#Calculatebutton{
    border-radius: 8px;
    background-color: blue;
    color: white;
    margin-left: 20px;
    padding: 10px;
}