#IdSpring{
 background-color: #3a7333;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-width: 0px;
    margin-top: 20px;
    margin-left: 25px;
}
#IdSummer{
    background-color: #e0bb00;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-width: 0px;
    margin-top: 20px;
    margin-left: 25px;
}
#IdAutumn{
    background-color: #b04400;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-width: 0px;
    margin-top: 20px;
    margin-left: 25px;
}
#IdWinter{
    background-color: #0f7cb6;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-width: 0px;
    margin-top: 20px;
    margin-left: 25px;
}
.img-bg{
    width: 100%;
    height: 80vh;
}
